/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 5em;
		font-family: arial,helvetica;
		color: #000;
		margin:0;
		padding:0;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	.section{
		background-size: cover;
	}
	.slide{
		background-size: cover;
	}

	/* Defining each section background and styles
	* --------------------------------------- */
	/* #section0{
		background-image: url(../imgs/bg1.jpg);
	}
	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section0{
		background: -webkit-gradient(linear, top left, bottom left, from(#e4e4e4), to(#4e4e4e));
		background: -webkit-linear-gradient(#e4e4e4, #4e4e4e);
		background: linear-gradient(#e4e4e4,#4e4e4e);
	}
	#section2{
		background-image: url(../img/bg3.jpg);
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url(../img/bg4.jpg);
		padding: 6% 0 0 0;
	}
	#section3 h1{
		color: #000;
	}


	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		background-image: url(../img/bg2.jpg);
		padding: 6% 0 0 0;
	}
	#slide2{
		background-image: url(../img/bg5.jpg);
		padding: 6% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	#map {
        height: 400px;
        width: 100%;
		border: 2px solid black;
	}

	.card-img-top {
		z-index:1001;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}
	
	.card-block {
		background-color:rgba(0,0,0,0.0);
		margin:0px;
		padding:0px;
		z-index:1000;
	}

	.card-block>.container {
		width:90%;
		border-style:solid;
		border-width:0px 1px 1px 1px;
		border-color:black;
		background-color:white;
		border-radius:5px;
		margin-top:-25px;
		padding-top:40px;
		padding-bottom:10px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}


	/* Circle Button
	* --------------------------------------- */	
	.btn-circle.btn-xl {
		width: 70px;
		height: 70px;
		padding: 10px 16px;
		border-radius: 35px;
		font-size: 24px;
		line-height: 1.33;
	}
	
	.btn-circle.btn-lg{
		width: 50px;
		height: 50px;
		padding: 8px 8px;
		border-radius: 25px;
		font-size: 18px;
		line-height: 1.38;
	}
	
	.btn-circle {
		width: 30px;
		height: 30px;
		padding: 6px 0px;
		border-radius: 15px;
		text-align: center;
		font-size: 12px;
		line-height: 1.42857;
	}